
//This file is included in ppsspp.rc with "include".
#pragma code_page(65001)

IDD_ABOUTBOX DIALOGEX 0, 0, 301, 163
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,243,140,50,14
    ICON            IDI_PPSSPP,IDC_STATIC,10,9,21,20
    LTEXT           "PPSSPP",IDC_VERSION,40,8,127,9
    LTEXT           "Copyright (c) by Henrik Rydgård  the PPSSPP project 2012-",IDC_STATIC,40,33,253,8
    LTEXT           "All trademarks are property of their respective owners.\nThe emulator is for educational and development purposes only and it may not be used to play games you do not legally own.",IDC_STATIC,40,102,253,24
    LTEXT           "PSP emulator and debugger",IDC_STATIC,40,19,253,8
    LTEXT           "CISO decompression code by BOOSTER",IDC_STATIC,48,73,240,8
    LTEXT           "PSPSDK by #pspdev (freenode)",IDC_STATIC,48,62,240,8
    LTEXT           "zlib by Jean-loup Gailly (compression) and Mark Adler (decompression)",IDC_STATIC,48,85,240,8
    LTEXT           "Additional credits:",IDC_STATIC,40,49,253,8
END
