// Microsoft Visual C++ generated resource script.
//
#include "resource.h"
#include "windows.h"



/////////////////////////////////////////////////////////////////////////////
// Neutral (Default) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEUD)
LANGUAGE LANG_NEUTRAL, SUBLANG_DEFAULT



#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED



/////////////////////////////////////////////////////////////////////////////
//
// IMAGE
//

IDB_IMAGE_PSP           IMAGE                   "pspmode.png"



/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

1                       RT_MANIFEST             "rt_manif.bin"



/////////////////////////////////////////////////////////////////////////////
//
// Accelerator
//

IDR_ACCELS ACCELERATORS
BEGIN
    "O",            ID_FILE_LOAD,           VIRTKEY, CONTROL, NOINVERT
    "W",            ID_EMULATION_STOP,      VIRTKEY, CONTROL, NOINVERT
    "B",            ID_EMULATION_RESET,     VIRTKEY, CONTROL, NOINVERT
    "T",            ID_EMULATION_CHEATS,    VIRTKEY, CONTROL, NOINVERT
    "D",            ID_DEBUG_DISASSEMBLY,   VIRTKEY, CONTROL, NOINVERT
    "G",            ID_DEBUG_GEDEBUGGER,    VIRTKEY, CONTROL, NOINVERT
    "L",            ID_DEBUG_LOG,           VIRTKEY, CONTROL, NOINVERT
    "M",            ID_DEBUG_MEMORYVIEW,    VIRTKEY, CONTROL, NOINVERT
    "R",            ID_DEBUG_REGISTERS,     VIRTKEY, CONTROL, NOINVERT
    VK_F3,          ID_FILE_SAVESTATE_NEXT_SLOT_HC, VIRTKEY, NOINVERT
    VK_F2,          ID_FILE_QUICKSAVESTATE_HC, VIRTKEY, NOINVERT
    VK_F4,          ID_FILE_QUICKLOADSTATE_HC, VIRTKEY, NOINVERT
    "1",            ID_OPTIONS_RESOLUTIONDUMMY,    VIRTKEY, CONTROL, NOINVERT
    VK_F5,          ID_OPTIONS_BUFFEREDRENDERINGDUMMY, VIRTKEY, NOINVERT
    VK_F7,          ID_OPTIONS_FRAMESKIPDUMMY, VIRTKEY, NOINVERT
    VK_F6,          ID_OPTIONS_HARDWARETRANSFORM, VIRTKEY, NOINVERT
    VK_F12,         ID_DEBUG_TAKESCREENSHOT,  VIRTKEY, NOINVERT
    VK_F8,          ID_TOGGLE_PAUSE,        VIRTKEY, NOINVERT
    VK_RETURN,      ID_OPTIONS_FULLSCREEN,  ALT, VIRTKEY, NOINVERT
    VK_F11,         ID_OPTIONS_FULLSCREEN,  VIRTKEY, NOINVERT
END


IDR_DEBUGACCELS ACCELERATORS
BEGIN
    "B",            ID_DEBUG_ADDBREAKPOINT,            VIRTKEY, CONTROL, NOINVERT
    "R",            ID_DEBUG_DSIPLAYREGISTERLIST,      VIRTKEY, CONTROL, NOINVERT
    "L",            ID_DEBUG_DSIPLAYFUNCTIONLIST,      VIRTKEY, CONTROL, NOINVERT
    "1",            ID_DEBUG_DISPLAYMEMVIEW,           VIRTKEY, CONTROL, NOINVERT
    "2",            ID_DEBUG_DISPLAYBREAKPOINTLIST,    VIRTKEY, CONTROL, NOINVERT
    "3",            ID_DEBUG_DISPLAYTHREADLIST,        VIRTKEY, CONTROL, NOINVERT
    "4",            ID_DEBUG_DISPLAYSTACKFRAMELIST,    VIRTKEY, CONTROL, NOINVERT
    VK_F7,          ID_TOGGLE_PAUSE,                   VIRTKEY, NOINVERT
    VK_F8,          ID_DEBUG_STEPOUT,                  VIRTKEY, NOINVERT
    VK_F9,          ID_DEBUG_RUNTOLINE,                VIRTKEY, NOINVERT
    VK_F10,         ID_DEBUG_STEPOVER,                 VIRTKEY, NOINVERT
    VK_F11,         ID_DEBUG_STEPINTO,                 VIRTKEY, NOINVERT
    VK_F11,         ID_DEBUG_STEPOUT,                  VIRTKEY, SHIFT, NOINVERT
    "X",            ID_DEBUG_HIDEBOTTOMTABS,           VIRTKEY, CONTROL, NOINVERT
    "Y",            ID_DEBUG_TOGGLEBOTTOMTABTITLES,    VIRTKEY, CONTROL, NOINVERT
END



/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#include "version.rc"


#endif    // Neutral (Default) resources
/////////////////////////////////////////////////////////////////////////////



/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DISASM DIALOGEX 0, 0, 510, 415
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_TOOLWINDOW
CAPTION "CPU"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Ctr:",IDC_STATIC,6,2,12,8
    EDITTEXT        IDC_DEBUG_COUNT,30,2,39,12,ES_UPPERCASE | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    PUSHBUTTON      "Stop",IDC_STOPGO,111,0,24,14
    PUSHBUTTON      "Step Into",IDC_STEP,143,0,39,14
    PUSHBUTTON      "Step Over",IDC_STEPOVER,183,0,40,14
    PUSHBUTTON      "Step Out",IDC_STEPOUT,224,0,40,14
    PUSHBUTTON      "Next HLE",IDC_STEPHLE,272,0,40,14
    PUSHBUTTON      "Breakpoint",IDC_MEMCHECK,313,0,45,14
    EDITTEXT        IDC_THREADNAME,366,3,150,10,ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER
    EDITTEXT        IDC_ADDRESS,11,24,91,13,ES_AUTOHSCROLL | ES_WANTRETURN
    PUSHBUTTON      "PC",IDC_GOTOPC,11,40,15,13
    PUSHBUTTON      "RA",IDC_GOTOLR,28,40,14,13
    COMBOBOX        IDC_GOTOINT,43,40,60,76,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Custom1",IDC_DISASMVIEW,"CtrlDisAsmView",WS_BORDER | WS_TABSTOP,111,16,397,304
    GROUPBOX        "Go to",IDC_STATIC,5,12,102,47
    CONTROL         "Custom1",IDC_REGLIST,"CtrlRegisterList",WS_BORDER | WS_TABSTOP,1,81,102,255
    CONTROL         "",IDC_LEFTTABS,"SysTabControl32",TCS_BUTTONS | TCS_FOCUSNEVER,1,63,78,15
    LISTBOX         IDC_FUNCTIONLIST,1,83,103,255,LBS_SORT | LBS_NOINTEGRALHEIGHT | NOT WS_VISIBLE | WS_VSCROLL | WS_TABSTOP
    PUSHBUTTON      "VFPU",IDC_SHOWVFPU,83,63,24,12
    CONTROL         "",IDC_BREAKPOINTLIST,"SysListView32",LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT | WS_BORDER,1,338,513,93
    CONTROL         "Custom2",IDC_DEBUGMEMVIEW,"CtrlMemView",WS_BORDER,1,338,513,93
    CONTROL         "",IDC_THREADLIST,"SysListView32",LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT | WS_BORDER,1,338,513,93
    CONTROL         "",IDC_STACKFRAMES,"SysListView32",LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT | WS_BORDER,1,338,513,93 	
    CONTROL         "",IDC_MODULELIST,"SysListView32",LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT | WS_BORDER,1,338,513,93 	
    CONTROL         "",IDC_DEBUG_BOTTOMTABS,"SysTabControl32",TCS_TABS | TCS_FOCUSNEVER,1,338,513,93
END

IDD_GEDEBUGGER DIALOGEX 0, 0, 500, 400
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_ACCEPTFILES | WS_EX_TOOLWINDOW
CAPTION "GE"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "Step &Frame",IDC_GEDBG_STEPFRAME,10,2,48,14
    PUSHBUTTON      "Step &Tex",IDC_GEDBG_STEPTEX,62,2,48,14
    PUSHBUTTON      "Step &Draw",IDC_GEDBG_STEPDRAW,114,2,48,14
    PUSHBUTTON      "Step &Prim",IDC_GEDBG_STEPPRIM,166,2,48,14
    PUSHBUTTON      "Step &Into",IDC_GEDBG_STEP,218,2,48,14
    PUSHBUTTON      "&Resume",IDC_GEDBG_RESUME,270,2,48,14
    CONTROL         "",IDC_GEDBG_TEX,"SimpleGLWindow",WS_CHILD | WS_VISIBLE,10,20,128,128
    CONTROL         "",IDC_GEDBG_FRAME,"SimpleGLWindow",WS_CHILD | WS_VISIBLE,148,20,256,136
    CONTROL         "",IDC_GEDBG_MAINTAB,"SysTabControl32",TCS_TABS | TCS_FOCUSNEVER,10,216,480,180
    EDITTEXT        IDC_GEDBG_FRAMEBUFADDR,148,192,128,12,ES_READONLY | NOT WS_BORDER
    EDITTEXT        IDC_GEDBG_TEXADDR,10,152,128,12,ES_READONLY | NOT WS_BORDER
    PUSHBUTTON      "Break on Te&xture...",IDC_GEDBG_BREAKTEX,24,168,100,14
    PUSHBUTTON      "Level -",IDC_GEDBG_TEXLEVELDOWN,24,188,40,14
    PUSHBUTTON      "Level +",IDC_GEDBG_TEXLEVELUP,84,188,40,14
    CONTROL         "",IDC_GEDBG_FBTABS,"SysTabControl32",TCS_BUTTONS | TCS_FOCUSNEVER,384,192,110,12
END


IDD_GEDBG_TAB_VALUES DIALOGEX 0, 0, 316, 183
STYLE DS_SETFONT | WS_CHILD | DS_CONTROL
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_GEDBG_VALUES,"SysListView32",LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT | WS_BORDER | WS_TABSTOP,7,7,217,86
END


IDD_TABDISPLAYLISTS DIALOGEX 0, 0, 316, 183
STYLE DS_SETFONT | WS_CHILD | DS_CONTROL
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_GEDBG_LISTS_ALLLISTS,"SysListView32",LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT | WS_BORDER | WS_TABSTOP,7,7,217,86
    CONTROL         "",IDC_GEDBG_LISTS_STACK,"SysListView32",LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT | WS_BORDER | WS_TABSTOP,7,95,302,81
    CONTROL         "",IDC_GEDBG_LISTS_SELECTEDLIST,"CtrlDisplayListView",WS_BORDER,225,7,84,89
END

IDD_GEDBG_TAB_VERTICES DIALOGEX 0, 0, 316, 183
STYLE DS_SETFONT | WS_CHILD | DS_CONTROL
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    AUTOCHECKBOX    "Before transform (raw)", IDC_GEDBG_RAWVERTS, 5, 5, 100, 10
    CONTROL         "",IDC_GEDBG_VERTICES,"SysListView32",LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT | WS_BORDER | WS_TABSTOP,7,22,217,86
END

IDD_GEDBG_TAB_MATRICES DIALOGEX 0, 0, 316, 183
STYLE DS_SETFONT | WS_CHILD | DS_CONTROL
CAPTION "Dialog"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_GEDBG_MATRICES,"SysListView32",LVS_ALIGNLEFT | LVS_SHOWSELALWAYS | LVS_REPORT | WS_BORDER | WS_TABSTOP,7,7,217,86
END


#include "aboutbox.rc"

IDD_MEMORY DIALOGEX 0, 0, 566, 287
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_TOOLWINDOW
CAPTION "Memory View"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Goto:",IDC_STATIC,4,7,17,8
    EDITTEXT        IDC_ADDRESS,23,5,61,13,ES_AUTOHSCROLL
    CONTROL         "Custom2",IDC_MEMVIEW,"CtrlMemView",WS_BORDER | WS_TABSTOP,126,23,316,263
    LISTBOX         IDC_SYMBOLS,1,23,120,263,LBS_SORT | LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Normal",IDC_MODENORMAL,"Button",BS_AUTORADIOBUTTON | WS_GROUP,248,9,40,9
    CONTROL         "Symbols",IDC_MODESYMBOLS,"Button",BS_AUTORADIOBUTTON,291,9,43,8
    GROUPBOX        "Mode",IDC_STATIC,241,0,104,22
    COMBOBOX        IDC_REGIONS,87,5,88,139,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
END

IDD_INPUTBOX DIALOGEX 0, 0, 163, 55
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Input value"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Value",IDC_VALUENAME,7,7,89,8
    EDITTEXT        IDC_INPUTBOX,7,16,149,13,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,51,34,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,106,34,50,14
END

IDD_VFPU DIALOGEX 0, 0, 250, 420
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_THICKFRAME
EXSTYLE WS_EX_PALETTEWINDOW
CAPTION "VFPU"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    CONTROL         "",IDC_TABDATATYPE,"SysTabControl32",TCS_BUTTONS,0,1,205,15
END

IDD_BREAKPOINT DIALOGEX 0, 0, 236, 89
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Breakpoint"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Address",IDC_STATIC,7,8,27,8
    EDITTEXT        IDC_BREAKPOINT_ADDRESS,41,7,69,14,ES_AUTOHSCROLL
    CONTROL         "Memory",IDC_BREAKPOINT_MEMORY,"Button",BS_AUTORADIOBUTTON,123,8,36,10
    CONTROL         "Execute",IDC_BREAKPOINT_EXECUTE,"Button",BS_AUTORADIOBUTTON,170,8,36,10
    LTEXT           "Size",IDC_STATIC,7,27,14,8
    EDITTEXT        IDC_BREAKPOINT_SIZE,41,25,69,14,ES_AUTOHSCROLL
    CONTROL         "Read",IDC_BREAKPOINT_READ,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,21,33,10
    CONTROL         "Write",IDC_BREAKPOINT_WRITE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,123,34,33,10
    CONTROL         "On change",IDC_BREAKPOINT_ONCHANGE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,170,34,50,10
    LTEXT           "Condition",IDC_STATIC,7,51,31,8
    EDITTEXT        IDC_BREAKPOINT_CONDITION,41,49,187,14,ES_AUTOHSCROLL
    CONTROL         "Enabled",IDC_BREAKPOINT_ENABLED,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,41,71,41,10
    CONTROL         "Log",IDC_BREAKPOINT_LOG,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,96,71,27,10
    DEFPUSHBUTTON   "OK",IDC_BREAKPOINT_OK,144,68,41,14
    PUSHBUTTON      "Cancel",IDC_BREAKPOINT_CANCEL,186,68,42,14
END

IDD_DUMPMEMORY DIALOGEX 0, 0, 230, 85
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Dump memory"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "Start",IDC_STATIC,7,8,27,8
    EDITTEXT        IDC_DUMP_STARTADDRESS,41,7,95,14,ES_AUTOHSCROLL
    LTEXT           "Size",IDC_STATIC,7,27,14,8
    EDITTEXT        IDC_DUMP_SIZE,41,25,95,14,ES_AUTOHSCROLL
    LTEXT           "Filename",IDC_STATIC,7,46,32,8
    EDITTEXT        IDC_DUMP_FILENAME,41,43,75,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_DUMP_BROWSEFILENAME,119,43,17,14
    GROUPBOX        "Location",IDC_STATIC,145,1,76,57
    CONTROL         "RAM",IDC_DUMP_USERMEMORY,"Button",BS_AUTORADIOBUTTON,152,10,31,10
    CONTROL         "VRAM",IDC_DUMP_VRAM,"Button",BS_AUTORADIOBUTTON,152,22,35,10
    CONTROL         "Scratchpad",IDC_DUMP_SCRATCHPAD,"Button",BS_AUTORADIOBUTTON,152,34,52,10
    CONTROL         "Custom range",IDC_DUMP_CUSTOMRANGE,"Button",BS_AUTORADIOBUTTON,152,46,61,10
    DEFPUSHBUTTON   "OK",IDOK,117,64,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,173,64,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_DISASM, DIALOG
    BEGIN
        LEFTMARGIN, 1
        RIGHTMARGIN, 408
        VERTGUIDE, 111
        BOTTOMMARGIN, 330
        HORZGUIDE, 9
        HORZGUIDE, 14
    END

    IDD_ABOUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 10
        RIGHTMARGIN, 293
        VERTGUIDE, 40
        VERTGUIDE, 48
        VERTGUIDE, 280
        TOPMARGIN, 7
        BOTTOMMARGIN, 154
    END

    IDD_MEMORY, DIALOG
    BEGIN
        RIGHTMARGIN, 442
        BOTTOMMARGIN, 286
    END

    IDD_INPUTBOX, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 156
        TOPMARGIN, 7
        BOTTOMMARGIN, 48
    END

    IDD_VFPU, DIALOG
    BEGIN
        RIGHTMARGIN, 247
        BOTTOMMARGIN, 413
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_PPSSPP              ICON                    "ppsspp.ico"
IDI_STOP                ICON                    "icon1.ico"
IDI_STOPDISABLE         ICON                    "stop1.ico"


/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU1 MENU
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Load",                                    ID_FILE_LOAD
        MENUITEM "Open Directory...",                       ID_FILE_LOAD_DIR
        MENUITEM "Open from MS:/PSP/GAME...",               ID_FILE_LOAD_MEMSTICK
        MENUITEM SEPARATOR
        MENUITEM "Open Memory Stick",                       ID_FILE_MEMSTICK
        MENUITEM SEPARATOR

        POPUP "Savestate Slot"
		BEGIN
			MENUITEM "&1",                                  ID_FILE_SAVESTATE_SLOT_1
			MENUITEM "&2",                                  ID_FILE_SAVESTATE_SLOT_2
			MENUITEM "&3",                                  ID_FILE_SAVESTATE_SLOT_3
			MENUITEM "&4",                                  ID_FILE_SAVESTATE_SLOT_4
			MENUITEM "&5",                                  ID_FILE_SAVESTATE_SLOT_5
		END
		MENUITEM "Load State",                              ID_FILE_QUICKLOADSTATE
		MENUITEM "Save State",                              ID_FILE_QUICKSAVESTATE 
		MENUITEM "Load State File...",                      ID_FILE_LOADSTATEFILE
		MENUITEM "Save State File...",                      ID_FILE_SAVESTATEFILE
        MENUITEM SEPARATOR
        MENUITEM "Exit",                                    ID_FILE_EXIT
    END

    POPUP "Emulation"
    BEGIN
        MENUITEM "Run",                                     ID_TOGGLE_PAUSE
        MENUITEM "Stop",                                    ID_EMULATION_STOP
        MENUITEM "Reset",                                   ID_EMULATION_RESET
        MENUITEM "Switch UMD",                              ID_EMULATION_SWITCH_UMD
    END

    POPUP "Debug"
    BEGIN
        MENUITEM "Load Map File...",                        ID_DEBUG_LOADMAPFILE
        MENUITEM "Save Map File...",                        ID_DEBUG_SAVEMAPFILE
        MENUITEM "Reset Symbol Table",                      ID_DEBUG_RESETSYMBOLTABLE
        MENUITEM SEPARATOR
        MENUITEM "Dump Next Frame to Log",                  ID_DEBUG_DUMPNEXTFRAME
        MENUITEM "Take Screenshot",                         ID_DEBUG_TAKESCREENSHOT
        MENUITEM SEPARATOR
        MENUITEM "Show Debug Statistics",                   ID_DEBUG_SHOWDEBUGSTATISTICS
        MENUITEM "Ignore Illegal Reads/Writes",             ID_DEBUG_IGNOREILLEGALREADS
        MENUITEM "Run on Load",                             ID_DEBUG_RUNONLOAD
        MENUITEM SEPARATOR
        MENUITEM "Disassembly",                             ID_DEBUG_DISASSEMBLY
        MENUITEM "GE Debugger...",                          ID_DEBUG_GEDEBUGGER
        MENUITEM "Extract File...",                         ID_DEBUG_EXTRACTFILE
        MENUITEM "Log Console",                             ID_DEBUG_LOG
        MENUITEM "Memory View...",                          ID_DEBUG_MEMORYVIEW
    END

    POPUP "Options"
    BEGIN
        MENUITEM "Keep PPSSPP On Top",                      ID_OPTIONS_TOPMOST
        MENUITEM "Pause When Not Focused",                  ID_OPTIONS_PAUSE_FOCUS
		MENUITEM "Ignore Windows Key",                      ID_OPTIONS_IGNOREWINKEY
        MENUITEM "More Settings...",                        ID_OPTIONS_MORE_SETTINGS
        MENUITEM "Control Mapping...",                      ID_OPTIONS_CONTROLS
        MENUITEM "Language...",                             ID_OPTIONS_LANGUAGE
        MENUITEM SEPARATOR
        MENUITEM "Stretch to Display",                      ID_OPTIONS_STRETCHDISPLAY
        MENUITEM "Fullscreen",                              ID_OPTIONS_FULLSCREEN
        MENUITEM "VSync",                                   ID_OPTIONS_VSYNC
        MENUITEM "Postprocessing Shader",                   ID_OPTIONS_FXAA
        POPUP "Rendering Resolution"
        BEGIN
            MENUITEM "Auto",                                ID_OPTIONS_SCREENAUTO
            MENUITEM "&1x",                                 ID_OPTIONS_SCREEN1X
            MENUITEM "&2x",                                 ID_OPTIONS_SCREEN2X
            MENUITEM "&3x",                                 ID_OPTIONS_SCREEN3X
            MENUITEM "&4x",                                 ID_OPTIONS_SCREEN4X
            MENUITEM "&5x",                                 ID_OPTIONS_SCREEN5X
            MENUITEM "&6x",                                 ID_OPTIONS_SCREEN6X
            MENUITEM "&7x",                                 ID_OPTIONS_SCREEN7X
            MENUITEM "&8x",                                 ID_OPTIONS_SCREEN8X
            MENUITEM "&9x",                                 ID_OPTIONS_SCREEN9X
            MENUITEM "&10x",                                ID_OPTIONS_SCREEN10X
        END
        POPUP "Window Size"
        BEGIN
            MENUITEM "&1x",                                 ID_OPTIONS_WINDOW1X
            MENUITEM "&2x",                                 ID_OPTIONS_WINDOW2X
            MENUITEM "&3x",                                 ID_OPTIONS_WINDOW3X
            MENUITEM "&4x",                                 ID_OPTIONS_WINDOW4X
        END
				POPUP "Rendering Mode"
				BEGIN
					MENUITEM "Non-Buffered Rendering",				ID_OPTIONS_NONBUFFEREDRENDERING
					MENUITEM "Buffered Rendering",					ID_OPTIONS_BUFFEREDRENDERING
					MENUITEM "Read Framebuffers To Memory (CPU)",	ID_OPTIONS_READFBOTOMEMORYCPU
					MENUITEM "Read Framebuffers To Memory (GPU)",	ID_OPTIONS_READFBOTOMEMORYGPU
				END
				POPUP "Frame Skipping"
				BEGIN
					MENUITEM "Auto",						        ID_OPTIONS_FRAMESKIP_AUTO
					MENUITEM SEPARATOR
					MENUITEM "Off",								    ID_OPTIONS_FRAMESKIP_0
					MENUITEM "&1",							        ID_OPTIONS_FRAMESKIP_1
					MENUITEM "&2",									ID_OPTIONS_FRAMESKIP_2
					MENUITEM "&3",									ID_OPTIONS_FRAMESKIP_3
					MENUITEM "&4",									ID_OPTIONS_FRAMESKIP_4
					MENUITEM "&5",									ID_OPTIONS_FRAMESKIP_5
					MENUITEM "&6",									ID_OPTIONS_FRAMESKIP_6
					MENUITEM "&7",									ID_OPTIONS_FRAMESKIP_7
					MENUITEM "&8",									ID_OPTIONS_FRAMESKIP_8
				END
				POPUP "Texture Filtering"
						BEGIN
								MENUITEM "Auto",                                ID_OPTIONS_TEXTUREFILTERING_AUTO
								MENUITEM "Nearest",                             ID_OPTIONS_NEARESTFILTERING
								MENUITEM "Linear",                              ID_OPTIONS_LINEARFILTERING
								MENUITEM "Linear on FMV",                       ID_OPTIONS_LINEARFILTERING_CG
				END
        POPUP "Texture Scaling"
        BEGIN
            MENUITEM "Off",                             ID_TEXTURESCALING_OFF
            MENUITEM "Auto",                            ID_TEXTURESCALING_AUTO
            MENUITEM "&2x",                             ID_TEXTURESCALING_2X
            MENUITEM "&3x",                             ID_TEXTURESCALING_3X
            MENUITEM "&4x",                             ID_TEXTURESCALING_4X
            MENUITEM "&5x",	                            ID_TEXTURESCALING_5X
            MENUITEM SEPARATOR
            MENUITEM "xBRZ",                            ID_TEXTURESCALING_XBRZ
            MENUITEM "Hybrid",                          ID_TEXTURESCALING_HYBRID
            MENUITEM "Bicubic",                         ID_TEXTURESCALING_BICUBIC
            MENUITEM "Hybrid + Bicubic",                ID_TEXTURESCALING_HYBRID_BICUBIC
            MENUITEM SEPARATOR
            MENUITEM "Deposterize",                     ID_TEXTURESCALING_DEPOSTERIZE
        END
		MENUITEM "Hardware Transform",                  ID_OPTIONS_HARDWARETRANSFORM
        MENUITEM "Vertex Cache",                        ID_OPTIONS_VERTEXCACHE
        MENUITEM "Show FPS Counter",                    ID_OPTIONS_SHOWFPS
        MENUITEM SEPARATOR
        MENUITEM "Enable Sound",                        ID_EMULATION_SOUND, CHECKED
        MENUITEM SEPARATOR
        MENUITEM "Enable Cheats",                       ID_EMULATION_CHEATS
    END
END

IDR_POPUPMENUS MENU
BEGIN
    POPUP "memview"
    BEGIN
        MENUITEM "Go to in Disasm",            ID_MEMVIEW_GOTOINDISASM
        MENUITEM "Copy address",               ID_MEMVIEW_COPYADDRESS
        MENUITEM SEPARATOR
        MENUITEM "Copy Value (8 bit)",         ID_MEMVIEW_COPYVALUE_8
        MENUITEM "Copy Value (16 bit)",        ID_MEMVIEW_COPYVALUE_16
        MENUITEM "Copy Value (32 bit)",        ID_MEMVIEW_COPYVALUE_32
        MENUITEM "Dump...",                    ID_MEMVIEW_DUMP
    END
    POPUP "disasm"
    BEGIN
        MENUITEM "Copy Address",               ID_DISASM_COPYADDRESS
        MENUITEM "Copy Instruction (Hex)",     ID_DISASM_COPYINSTRUCTIONHEX
        MENUITEM "Copy Instruction (Disasm)",  ID_DISASM_COPYINSTRUCTIONDISASM
        MENUITEM "Disassemble to File",        ID_DISASM_DISASSEMBLETOFILE
        MENUITEM SEPARATOR
        MENUITEM "Assemble Opcode",            ID_DISASM_ASSEMBLE
        MENUITEM SEPARATOR
        MENUITEM "Run to Cursor",              ID_DISASM_RUNTOHERE
        MENUITEM "Jump to Cursor",             ID_DISASM_SETPCTOHERE
        MENUITEM "Toggle Breakpoint",          ID_DISASM_TOGGLEBREAKPOINT
        MENUITEM "Follow Branch",              ID_DISASM_FOLLOWBRANCH
        MENUITEM SEPARATOR
        MENUITEM "Show Dynarec Results",       ID_DISASM_DYNARECRESULTS
        MENUITEM "Go to in Memory View",       ID_DISASM_GOTOINMEMORYVIEW
        MENUITEM SEPARATOR
        MENUITEM "Kill Function",              ID_DISASM_ADDHLE
        MENUITEM "Rename Function...",         ID_DISASM_RENAMEFUNCTION
		MENUITEM "Remove Function",            ID_DISASM_REMOVEFUNCTION
		MENUITEM "Add Function Here",          ID_DISASM_ADDFUNCTION
		END
    POPUP "funclist"
    BEGIN
        MENUITEM "Kill Function",              ID_FUNCLIST_KILLFUNCTION
    END
    POPUP "reglist"
    BEGIN
        MENUITEM "Go to in Memory View",       ID_REGLIST_GOTOINMEMORYVIEW
        MENUITEM "Go to in Disasm",            ID_REGLIST_GOTOINDISASM
        MENUITEM SEPARATOR
        MENUITEM "Copy Value",                 ID_REGLIST_COPYVALUE
        MENUITEM "Change...",                  ID_REGLIST_CHANGE
    END
    POPUP "controls"
    BEGIN
        MENUITEM "Disable",                    ID_CONTROLS_KEY_DISABLE
    END
	POPUP "breakpointlist"
	BEGIN
		MENUITEM "Enable",                     ID_DISASM_DISABLEBREAKPOINT
		MENUITEM "Edit",                       ID_DISASM_EDITBREAKPOINT
        MENUITEM SEPARATOR
		MENUITEM "Add New",                    ID_DISASM_ADDNEWBREAKPOINT
	END
	POPUP "threadlist"
	BEGIN
		MENUITEM "Force Resume",               ID_DISASM_THREAD_FORCERUN
		MENUITEM "Terminate",                  ID_DISASM_THREAD_KILL
	END
	POPUP "newbreakpoint"
	BEGIN
		MENUITEM "Add New",                    ID_DISASM_ADDNEWBREAKPOINT
	END
	POPUP "displaylistview"
	BEGIN
        MENUITEM "Copy Address",               ID_DISASM_COPYADDRESS
        MENUITEM "Copy Instruction (Hex)",     ID_DISASM_COPYINSTRUCTIONHEX
        MENUITEM "Copy Instruction (Disasm)",  ID_DISASM_COPYINSTRUCTIONDISASM
        MENUITEM SEPARATOR
        MENUITEM "Run to Cursor",              ID_DISASM_RUNTOHERE
        MENUITEM "Jump to Cursor",             ID_DISASM_SETPCTOHERE
        MENUITEM "Set Stall"                   ID_GEDBG_SETSTALLADDR
        MENUITEM "Toggle Breakpoint",          ID_DISASM_TOGGLEBREAKPOINT
        MENUITEM SEPARATOR
        MENUITEM "Go to Displaylist PC",       ID_GEDBG_GOTOPC
        MENUITEM "Go to Address...",           ID_GEDBG_GOTOADDR
        MENUITEM "Go to in Memory View",       ID_DISASM_GOTOINMEMORYVIEW
	END
END

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////
