*.pdb
*.ilk
*.obj
*.pch
Logs
*.log
*.dll
*.rar
*.exe
*.ini
*.map
*.lib
*.user
*.sdf
*.ncb
Debug
DebugFast
Release
*.opensdf
*.suo
*.aps
bin
gen
libs
obj
*.exp
GameLogNotes.txt
Windows/x64
Windows/ipch
Memstick
android/ui_atlas.zim
