# For MSVC
*.lastcodeanalysissucceeded
*.pdb
*.ilk
*.obj
*.pch
*.log
*.dll
*.rar
*.exe
*.map
*.lib
*.user
*.sdf
*.ncb
*.opensdf
*.suo
*.aps
*.exp
Debug
Release
Windows/x64
Windows/ipch

# For Mac
.DS_Store

# For ppsspp.ini, etc.
ppsspp.ini
PPSSPPControls.dat

# Qt Linguist files
*.qm

Logs
Memstick
memstick
Cheats

bin
gen
libs
obj
build*/
/git-version.cpp

.pspsh.hist
__testoutput.txt
__testerror.txt
__testfinish.txt
__testfailure.bmp
GameLogNotes.txt
screenshots
android/ui_atlas.zim
android/assets/lang
android/assets/flash0
ppge_atlas.zim.png
local.properties

# For vim
*.swp
tags

libat3plusdecoder.dylib
libat3plusdecoder.so
at3plusdecoder.dll
at3plusdecoder64.dll
