[submodule "libretro/libretro-common"]
	path = libretro/libretro-common
	url = https://github.com/libretro/libretro-common.git
[submodule "pspautotests"]
	path = pspautotests
	url = https://github.com/hrydgard/pspautotests.git
[submodule "ffmpeg"]
	path = ffmpeg
	url = https://github.com/hrydgard/ppsspp-ffmpeg.git
[submodule "dx9sdk"]
	path = dx9sdk
	url = https://github.com/hrydgard/minidx9.git
[submodule "ext/armips"]
	path = ext/armips
	url = https://github.com/Kingcom/armips.git
[submodule "ext/glslang"]
	path = ext/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "ext/SPIRV-Cross"]
	path = ext/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "ext/discord-rpc"]
	path = ext/discord-rpc
	url = https://github.com/discordapp/discord-rpc.git
[submodule "ext/rapidjson"]
	path = ext/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "ext/native/tools/prebuilt"]
	path = ext/native/tools/prebuilt
	url = https://github.com/hrydgard/ppsspp-freetype.git
[submodule "ext/miniupnp"]
	path = ext/miniupnp
	url = https://github.com/miniupnp/miniupnp.git
[submodule "zstd"]
	path = ext/zstd
	url = https://github.com/facebook/zstd.git
[submodule "SDL/macOS"]
	path = SDL/macOS
	url = https://github.com/hrydgard/ppsspp-mac-sdl
[submodule "ppsspp-debugger"]
	path = assets/debugger
	url = https://github.com/unknownbrackets/ppsspp-debugger.git
	branch = bundled
[submodule "cpu_features"]
	path = ext/cpu_features
	url = https://github.com/google/cpu_features.git
[submodule "ext/rcheevos"]
	path = ext/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
[submodule "ext/naett"]
	path = ext/naett
	url = https://github.com/erkkah/naett.git
[submodule "ext/libchdr"]
	path = ext/libchdr
	url = https://github.com/rtissera/libchdr.git
[submodule "ext/libadrenotools"]
	path = ext/libadrenotools
	url = https://github.com/bylaws/libadrenotools.git
[submodule "ext/OpenXR-SDK"]
	path = ext/OpenXR-SDK
	url = https://github.com/KhronosGroup/OpenXR-SDK.git
[submodule "ios/MoltenVK"]
	path = ios/MoltenVK
	url = https://github.com/hrydgard/ppsspp-moltenvk.git
