<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Common.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Core.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GPU.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>GitVersion.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PPSSPP.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>cityhash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>kirk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>libzip.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>native.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>png17.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>rg_etc1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>sfmt19937.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>snappy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>stb_vorbis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>udis86.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>vjson.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>xbrz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>xxhash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0B07B7BEDF334490AF915771</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0EB886A14118421E9E0A38EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15C00E51111849A8B92B03BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262E343973B24BB5946B32B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3075DE50522445D8BB4C49C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43809167206E4D9F8537F346</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B0BA7ABEBB447F48F6170AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C02C0CE0C14491BB75FE6BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>632D4F1255A74911BD44E99B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7755FB1B30A94CB19CBAB163</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80AD0D446FF5401AA8E6F626</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8184FFB870824EFA94A9B2DE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8EBC61AC99C84BE79AED24C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>917CF1C4172A4147ACAAE5FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4012CA19361463792AF07F4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0E7444B436240BAABF507A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C35AEFD1B7E5499CADE1B8DB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEDD34FDD4F8464996F65F65</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EC8C5058E82F44E3A80E3E41</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F07DD27552B24BDCA4F07B27</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
