<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ppsspp.ppsspp"
    android:installLocation="auto"
    android:versionCode="1301"
    android:versionName="1.3.0.1">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="24" />

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature android:name="android.hardware.screen.landscape" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.software.leanback" android:required="false" />
    <uses-feature android:name="android.hardware.gamepad" android:required="false"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="archos.permission.FULLSCREEN.FULL" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" 
        android:logo="@drawable/ic_banner"
        android:isGame="true"
        android:banner="@drawable/tv_banner">
        <activity
            android:name=".PpssppActivity"
            android:configChanges="orientation|locale|keyboard|keyboardHidden|navigation|fontScale|uiMode|navigation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

            <!-- android:screenOrientation="landscape" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
            <intent-filter>
				<action android:name="android.intent.action.VIEW" />
				
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				
				<data
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.iso"
					android:scheme="file" />
				<data
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.cso"
					android:scheme="file" />
				<data
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.elf"
					android:scheme="file" />
				<data
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.ISO"
					android:scheme="file" />
				<data
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.CSO"
					android:scheme="file" />
				<data
					android:host="*"
					android:mimeType="*/*"
					android:pathPattern=".*\\.ELF"
					android:scheme="file" />
			</intent-filter>
        </activity>
        <meta-data android:name="isGame" android:value="true" />
        <activity
            android:name=".ShortcutActivity"
            android:label="@string/shortcut_name" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.CREATE_SHORTCUT" />
            </intent-filter>
        </activity>

        <receiver android:name=".PowerSaveModeReceiver">
            <intent-filter>
                <action android:name="android.os.action.POWER_SAVE_MODE_CHANGED" />
                <action android:name="android.intent.action.BATTERY_LOW" />
                <action android:name="android.intent.action.BATTERY_OKAY" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="xperiaplayoptimized_content"
            android:resource="@drawable/ic_launcher" />
    </application>

</manifest>
