[Desktop Entry]
Encoding=UTF-8
Version=0.8.0
Type=Application
Terminal=false
Name=PPSSPP
Exec=/usr/bin/invoker --type=d -s /opt/PPSSPP/bin/PPSSPPQt
Icon=/usr/share/icons/hicolor/114x114/apps/icon-114.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
