<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" IgnorableNamespaces="uap mp rescap">
	<Identity Name="0ad29e1a-1069-4cf5-8c97-620892505f0c" Publisher="CN=Henrik" Version="1.17.1.0" />
	<mp:PhoneIdentity PhoneProductId="0ad29e1a-1069-4cf5-8c97-620892505f0c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
	<Properties>
		<DisplayName>PPSSPP - PSP emulator</DisplayName>
		<PublisherDisplayName>Henrik Rydgård</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
	</Properties>
	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>
	<Resources>
		<Resource Language="x-generate" />
	</Resources>
	<Applications>
		<Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="PPSSPP.App">
			<uap:VisualElements DisplayName="PPSSPP" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="PPSSPP - PSP emulator" BackgroundColor="transparent">
				<uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
				</uap:DefaultTile>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="landscape" />
				</uap:InitialRotationPreference>
			</uap:VisualElements>
			<Extensions>
				<uap:Extension Category="windows.fileTypeAssociation">
					<uap:FileTypeAssociation Name="psprom">
						<uap:SupportedFileTypes>
							<uap:FileType>.cso</uap:FileType>
							<uap:FileType>.bin</uap:FileType>
							<uap:FileType>.iso</uap:FileType>
							<uap:FileType>.elf</uap:FileType>
						</uap:SupportedFileTypes>
					</uap:FileTypeAssociation>
				</uap:Extension>
				<uap:Extension Category="windows.protocol">
					<uap:Protocol Name="ppsspp"/>
				</uap:Extension>
			</Extensions>
		</Application>
	</Applications>
	<Capabilities>
		<Capability Name="codeGeneration" />
		<Capability Name="internetClient" />
		<uap:Capability Name="removableStorage" />
		<rescap:Capability Name="runFullTrust"/>
		<rescap:Capability Name="broadFileSystemAccess" />
		<rescap:Capability Name="expandedResources" />
		<Capability Name="internetClientServer"/>
		<Capability Name="privateNetworkClientServer"/>
	</Capabilities>
</Package>
