Source: ppsspp-sdl
Section: games
Priority: extra
Maintainer: Sérgio Benjamim <sergio_br2@yahoo.com.br>
Build-Depends: 	debhelper (>= 9), 
		cmake,
		chrpath,
		libsdl1.2-dev
Standards-Version: 3.9.5
Homepage: http://www.ppsspp.org/
Vcs-Git: git://github.com/hrydgard/ppsspp.git
Vcs-Browser: https://github.com/hrydgard/ppsspp

Package: ppsspp-sdl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: ppsspp-qt
Description: Sony PSP emulator - SDL version
 PPSSPP can run your PSP games on your PC in full HD resolution. It can even 
 upscale textures that would otherwise be too blurry as they were made for 
 the small screen of the original PSP.
 .
 All trademarks are property of their respective owners. The emulator is for 
 educational and development purposes only and it may not be used to play games
 you do not legally own.
 .
 This package comes with the SDL version of PPSSPP, it has no dependencies in
 Qt libraries.